In [3]:
#cbind and rbind
df = data.frame(name=c("a","b","c","d","e"),
                sex=c("M","F","F","M","O"),
                id=c(1,2,3,4,5)
               )

In [4]:
df

  name sex id
1 a    M   1
2 b    F   2
3 c    F   3
4 d    M   4
5 e    O   5

In [5]:
age = c(18,24,23,18,19)

In [6]:
age

[1] 18 24 23 18 19

In [7]:
df

  name sex id
1 a    M   1
2 b    F   2
3 c    F   3
4 d    M   4
5 e    O   5

In [8]:
df1 = cbind(df,age)

In [9]:
df1

  name sex id age
1 a    M   1  18
2 b    F   2  24
3 c    F   3  23
4 d    M   4  18
5 e    O   5  19

In [10]:
df2 = data.frame(name=c("x","y","Z"),sex=c("M","F","F"),
                id=c(1,2,3),age=c(18,19,20))

In [11]:
df1

  name sex id age
1 a    M   1  18
2 b    F   2  24
3 c    F   3  23
4 d    M   4  18
5 e    O   5  19

In [12]:
df2

  name sex id age
1 x    M   1  18
2 y    F   2  19
3 Z    F   3  20

In [14]:
#rbind
df3 = rbind(df1,df2)

In [15]:
df3

  name sex id age
1 a    M   1  18
2 b    F   2  24
3 c    F   3  23
4 d    M   4  18
5 e    O   5  19
6 x    M   1  18
7 y    F   2  19
8 Z    F   3  20

In [17]:
football = data.frame(id=c(1001,1005,1101,1021,1003),
position=c('center','forward','goal keeper','defender','goal keeper') )

In [18]:
football

  id   position
1 1001 center
2 1005 forward
3 1101 goal keeper
4 1021 defender
5 1003 goal keeper

In [19]:
cricket = data.frame(id=c(1101,1002,1004,1021,1008),
    type=c("Batsman","All rounder","spin Bowler","Keeper","fast bowler"))

In [20]:
cricket

  id   type
1 1101 Batsman
2 1002 All rounder
3 1004 spin Bowler
4 1021 Keeper
5 1008 fast bowler

In [22]:
df = merge(x=football,y=cricket,by.x="id",by.y="id")

In [23]:
df

  id   position    type
1 1021 defender    Keeper
2 1101 goal keeper Batsman

In [24]:
getwd()

[1] "C:/Users/Sachin/Desktop/Winter_INTERN_BATCH_2018/DataScience/R"

In [25]:
s_data = read.csv('student_data.csv',header = T)
s_marks = read.csv('student_marks.csv',header = T)

In [26]:
s_data

  sid name      age ph_no
1 1   manish    18  1238912985
2 2   poonam    21  1238998993
3 3   rajat     33  1823928312
4 4   preyanshu 18   123343212
5 5   simran    19  1281292312
6 6   ravi      34  1234543212

In [27]:
s_marks

  sid marks1 marks2 marks3
1 1   56     76     34
2 2   74     67     56
3 3   56     67     43
4 4   67     45     34
5 5   NA     NA     NA
6 6   35     67     NA

In [32]:
total_data = merge(s_data,s_marks,by='sid')

In [34]:
total_data

  sid name      age ph_no      marks1 marks2 marks3
1 1   manish    18  1238912985 56     76     34
2 2   poonam    21  1238998993 74     67     56
3 3   rajat     33  1823928312 56     67     43
4 4   preyanshu 18   123343212 67     45     34
5 5   simran    19  1281292312 NA     NA     NA
6 6   ravi      34  1234543212 35     67     NA

In [35]:
colnames(total_data)

[1] "sid"    "name"   "age"    "ph_no"  "marks1" "marks2" "marks3"

In [37]:
summary(total_data) #descriptive stats

      sid              name        age            ph_no
 Min.   :1.00   manish   :1   Min.   :18.00   Min.   :1.233e+08
 1st Qu.:2.25   poonam   :1   1st Qu.:18.25   1st Qu.:1.236e+09
 Median :3.50   preyanshu:1   Median :20.00   Median :1.239e+09
 Mean   :3.50   rajat    :1   Mean   :23.83   Mean   :1.157e+09
 3rd Qu.:4.75   ravi     :1   3rd Qu.:30.00   3rd Qu.:1.271e+09
 Max.   :6.00   simran   :1   Max.   :34.00   Max.   :1.824e+09

     marks1         marks2         marks3
 Min.   :35.0   Min.   :45.0   Min.   :34.00
 1st Qu.:56.0   1st Qu.:67.0   1st Qu.:34.00
 Median :56.0   Median :67.0   Median :38.50
 Mean   :57.6   Mean   :64.4   Mean   :41.75
 3rd Qu.:67.0   3rd Qu.:67.0   3rd Qu.:46.25
 Max.   :74.0   Max.   :76.0   Max.   :56.00
 NA's   :1      NA's   :1      NA's   :2

In [39]:
names(total_data) <- c("sid","Name","Age","Contact","Maths","Science","English")

In [40]:
total_data

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312 NA    NA      NA
6 6   ravi      34  1234543212 35    67      NA

In [41]:
x = sample(20)

In [42]:
x

 [1]  6  9 14  5 17 16 20 19 18  7 13  4  8  1 10 11  3 15  2 12

In [45]:
sort(x,decreasing = T)

 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [46]:
print(x)
order(x)

 [1]  6  9 14  5 17 16 20 19 18  7 13  4  8  1 10 11  3 15  2 12

 [1] 14 19 17 12  4  1 10 13  2 15 16 20 11  3 18  6  5  9  8  7

In [47]:
x[c(1,5,7,3,2)]

[1]  6 17 20 14  9

In [48]:
x[1:5]

[1]  6  9 14  5 17

In [50]:
x[order(-x)]

 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [51]:
total_data

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312 NA    NA      NA
6 6   ravi      34  1234543212 35    67      NA

In [54]:
sort(total_data$Maths,decreasing = T)

[1] 74 67 56 56 35

In [60]:
total_data[c(1,3,6),c('Name','Maths')]

  Name   Maths
1 manish 56
3 rajat  56
6 ravi   35

In [69]:
total_data

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312 NA    NA      NA
6 6   ravi      34  1234543212 35    67      NA

In [73]:
total_data[is.na(total_data)] = 0

In [74]:
total_data

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312  0     0       0
6 6   ravi      34  1234543212 35    67       0

In [82]:
total_data[order(-total_data$Science,-total_data$Maths),]

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
6 6   ravi      34  1234543212 35    67       0
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312  0     0       0

In [77]:
total_data[c(5,6,1,3,4,2),]

  sid Name      Age Contact    Maths Science English
5 5   simran    19  1281292312  0     0       0
6 6   ravi      34  1234543212 35    67       0
1 1   manish    18  1238912985 56    76      34
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
2 2   poonam    21  1238998993 74    67      56

In [83]:
tdf = t(total_data)

In [84]:
tdf

        [,1]       [,2]       [,3]       [,4]       [,5]       [,6]
sid     1          2          3          4          5          6
Name    manish     poonam     rajat      preyanshu  simran     ravi
Age     18         21         33         18         19         34
Contact 1238912985 1238998993 1823928312  123343212 1281292312 1234543212
Maths   56         74         56         67          0         35
Science 76         67         67         45          0         67
English 34         56         43         34          0          0

In [85]:
install.packages('reshape2')

Installing package into 'C:/Users/Sachin/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'reshape2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Sachin\AppData\Local\Temp\RtmpYnEfvX\downloaded_packages

In [86]:
library(reshape2)

Warning message:
"package 'reshape2' was built under R version 3.5.2"

In [90]:
library(ggplot2)

Warning message:
"package 'ggplot2' was built under R version 3.5.2"

In [91]:
mpg

    manufacturer model              displ year cyl trans      drv cty hwy fl
1   audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2   audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3   audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4   audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5   audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6   audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7   audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8   audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9   audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10  audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11  audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12  audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13  audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14  audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15  audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16  audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17  audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18  audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
21  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
22  chevrolet    c1500 suburban 2wd 5.7   1999 8   auto(l4)   r   13  17  r
23  chevrolet    c1500 suburban 2wd 6.0   2008 8   auto(l4)   r   12  17  r
24  chevrolet    corvette           5.7   1999 8   manual(m6) r   16  26  p
25  chevrolet    corvette           5.7   1999 8   auto(l4)   r   15  23  p
26  chevrolet    corvette           6.2   2008 8   manual(m6) r   16  26  p
27  chevrolet    corvette           6.2   2008 8   auto(s6)   r   15  25  p
28  chevrolet    corvette           7.0   2008 8   manual(m6) r   15  24  p
29  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   14  19  r
30  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   11  14  e
... ...          ...                ...   ...  ... ...        ... ... ... ...
205 toyota       toyota tacoma 4wd  3.4   1999 6   auto(l4)   4   15  19  r
206 toyota       toyota tacoma 4wd  4.0   2008 6   manual(m6) 4   15  18  r
207 toyota       toyota tacoma 4wd  4.0   2008 6   auto(l5)   4   16  20  r
208 volkswagen   gti                2.0   1999 4   manual(m5) f   21  29  r
209 volkswagen   gti                2.0   1999 4   auto(l4)   f   19  26  r
210 volkswagen   gti                2.0   2008 4   manual(m6) f   21  29  p
211 volkswagen   gti                2.0   2008 4   auto(s6)   f   22  29  p
212 volkswagen   gti                2.8   1999 6   manual(m5) f   17  24  r
213 volkswagen   jetta              1.9   1999 4   manual(m5) f   33  44  d
214 volkswagen   jetta              2.0   1999 4   manual(m5) f   21  29  r
215 volkswagen   jetta              2.0   1999 4   auto(l4)   f   19  26  r
216 volkswagen   jetta              2.0   2008 4   auto(s6)   f   22  29  p
217 volkswagen   jetta              2.0   2008 4   manual(m6) f   21  29  p
218 volkswagen   jetta              2.5   2008 5   auto(s6)   f   21  29  r
219 volkswagen   jetta              2.5   2008 5   manual(m5) f   21  29  r
220 volkswagen   jetta              2.8   1999 6   auto(l4)   f   16  23  r
221 volkswagen   jetta              2.8   1999 6   manual(m5) f   17  24  r
222 volkswagen   new beetle         1.9   1999 4   manual(m5) f   35  44  d
223 volkswagen   new beetle         1.9   1999 4   auto(l4)   f   29  41  d
224 volkswagen   new beetle         2.0   1999 4   manual(m5) f   21  29  r
225 volkswagen   new beetle         2.0   1999 4   auto(l4)   f   19  26  r
226 volkswagen   new beetle         2.5   2008 5   manual(m5) f   20  28  r
227 volkswagen   new beetle         2.5   2008 5   auto(s6)   f   20  29  r
228 volkswagen   passat             1.8   1999 4   manual(m5) f   21  29  p
229 volkswagen   passat             1.8   1999 4   auto(l5)   f   18  29  p
230 volkswagen   passat             2.0   2008 4   auto(s6)   f   19  28  p
231 volkswagen   passat             2.0   2008 4   manual(m6) f   21  29  p
232 volkswagen   passat             2.8   1999 6   auto(l5)   f   16  26  p
233 volkswagen   passat             2.8   1999 6   manual(m5) f   18  26  p
234 volkswagen   passat             3.6   2008 6   auto(s6)   f   17  26  p
    class
1   compact
2   compact
3   compact
4   compact
5   compact
6   compact
7   compact
8   compact
9   compact
10  compact
11  compact
12  compact
13  compact
14  compact
15  compact
16  midsize
17  midsize
18  midsize
19  suv
20  suv
21  suv
22  suv
23  suv
24  2seater
25  2seater
26  2seater
27  2seater
28  2seater
29  suv
30  suv
... ...
205 pickup
206 pickup
207 pickup
208 compact
209 compact
210 compact
211 compact
212 compact
213 compact
214 compact
215 compact
216 compact
217 compact
218 compact
219 compact
220 compact
221 compact
222 subcompact
223 subcompact
224 subcompact
225 subcompact
226 subcompact
227 subcompact
228 midsize
229 midsize
230 midsize
231 midsize
232 midsize
233 midsize
234 midsize

In [92]:
m = melt(mpg)

Using manufacturer, model, trans, drv, fl, class as id variables

In [93]:
m

     manufacturer model              trans      drv fl  class      variable
1    audi         a4                 auto(l5)   f   p   compact    displ
2    audi         a4                 manual(m5) f   p   compact    displ
3    audi         a4                 manual(m6) f   p   compact    displ
4    audi         a4                 auto(av)   f   p   compact    displ
5    audi         a4                 auto(l5)   f   p   compact    displ
6    audi         a4                 manual(m5) f   p   compact    displ
7    audi         a4                 auto(av)   f   p   compact    displ
8    audi         a4 quattro         manual(m5) 4   p   compact    displ
9    audi         a4 quattro         auto(l5)   4   p   compact    displ
10   audi         a4 quattro         manual(m6) 4   p   compact    displ
11   audi         a4 quattro         auto(s6)   4   p   compact    displ
12   audi         a4 quattro         auto(l5)   4   p   compact    displ
13   audi         a4 quattro         manual(m5) 4   p   compact    displ
14   audi         a4 quattro         auto(s6)   4   p   compact    displ
15   audi         a4 quattro         manual(m6) 4   p   compact    displ
16   audi         a6 quattro         auto(l5)   4   p   midsize    displ
17   audi         a6 quattro         auto(s6)   4   p   midsize    displ
18   audi         a6 quattro         auto(s6)   4   p   midsize    displ
19   chevrolet    c1500 suburban 2wd auto(l4)   r   r   suv        displ
20   chevrolet    c1500 suburban 2wd auto(l4)   r   e   suv        displ
21   chevrolet    c1500 suburban 2wd auto(l4)   r   r   suv        displ
22   chevrolet    c1500 suburban 2wd auto(l4)   r   r   suv        displ
23   chevrolet    c1500 suburban 2wd auto(l4)   r   r   suv        displ
24   chevrolet    corvette           manual(m6) r   p   2seater    displ
25   chevrolet    corvette           auto(l4)   r   p   2seater    displ
26   chevrolet    corvette           manual(m6) r   p   2seater    displ
27   chevrolet    corvette           auto(s6)   r   p   2seater    displ
28   chevrolet    corvette           manual(m6) r   p   2seater    displ
29   chevrolet    k1500 tahoe 4wd    auto(l4)   4   r   suv        displ
30   chevrolet    k1500 tahoe 4wd    auto(l4)   4   e   suv        displ
...  ...          ...                ...        ... ... ...        ...
1141 toyota       toyota tacoma 4wd  auto(l4)   4   r   pickup     hwy
1142 toyota       toyota tacoma 4wd  manual(m6) 4   r   pickup     hwy
1143 toyota       toyota tacoma 4wd  auto(l5)   4   r   pickup     hwy
1144 volkswagen   gti                manual(m5) f   r   compact    hwy
1145 volkswagen   gti                auto(l4)   f   r   compact    hwy
1146 volkswagen   gti                manual(m6) f   p   compact    hwy
1147 volkswagen   gti                auto(s6)   f   p   compact    hwy
1148 volkswagen   gti                manual(m5) f   r   compact    hwy
1149 volkswagen   jetta              manual(m5) f   d   compact    hwy
1150 volkswagen   jetta              manual(m5) f   r   compact    hwy
1151 volkswagen   jetta              auto(l4)   f   r   compact    hwy
1152 volkswagen   jetta              auto(s6)   f   p   compact    hwy
1153 volkswagen   jetta              manual(m6) f   p   compact    hwy
1154 volkswagen   jetta              auto(s6)   f   r   compact    hwy
1155 volkswagen   jetta              manual(m5) f   r   compact    hwy
1156 volkswagen   jetta              auto(l4)   f   r   compact    hwy
1157 volkswagen   jetta              manual(m5) f   r   compact    hwy
1158 volkswagen   new beetle         manual(m5) f   d   subcompact hwy
1159 volkswagen   new beetle         auto(l4)   f   d   subcompact hwy
1160 volkswagen   new beetle         manual(m5) f   r   subcompact hwy
1161 volkswagen   new beetle         auto(l4)   f   r   subcompact hwy
1162 volkswagen   new beetle         manual(m5) f   r   subcompact hwy
1163 volkswagen   new beetle         auto(s6)   f   r   subcompact hwy
1164 volkswagen   passat             manual(m5) f   p   midsize    hwy
1165 volkswagen   passat             auto(l5)   f   p   midsize    hwy
1166 volkswagen   passat             auto(s6)   f   p   midsize    hwy
1167 volkswagen   passat             manual(m6) f   p   midsize    hwy
1168 volkswagen   passat             auto(l5)   f   p   midsize    hwy
1169 volkswagen   passat             manual(m5) f   p   midsize    hwy
1170 volkswagen   passat             auto(s6)   f   p   midsize    hwy
     value
1    1.8
2    1.8
3    2.0
4    2.0
5    2.8
6    2.8
7    3.1
8    1.8
9    1.8
10   2.0
11   2.0
12   2.8
13   2.8
14   3.1
15   3.1
16   2.8
17   3.1
18   4.2
19   5.3
20   5.3
21   5.3
22   5.7
23   6.0
24   5.7
25   5.7
26   6.2
27   6.2
28   7.0
29   5.3
30   5.3
...  ...
1141 19
1142 18
1143 20
1144 29
1145 26
1146 29
1147 29
1148 24
1149 44
1150 29
1151 26
1152 29
1153 29
1154 29
1155 29
1156 23
1157 24
1158 44
1159 41
1160 29
1161 26
1162 28
1163 29
1164 29
1165 29
1166 28
1167 29
1168 26
1169 26
1170 26

In [94]:
total_data

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312  0     0       0
6 6   ravi      34  1234543212 35    67       0

In [95]:
t_data = melt(total_data)

Using Name as id variables

In [96]:
t_data

   Name      variable value
1  manish    sid               1
2  poonam    sid               2
3  rajat     sid               3
4  preyanshu sid               4
5  simran    sid               5
6  ravi      sid               6
7  manish    Age              18
8  poonam    Age              21
9  rajat     Age              33
10 preyanshu Age              18
11 simran    Age              19
12 ravi      Age              34
13 manish    Contact  1238912985
14 poonam    Contact  1238998993
15 rajat     Contact  1823928312
16 preyanshu Contact   123343212
17 simran    Contact  1281292312
18 ravi      Contact  1234543212
19 manish    Maths            56
20 poonam    Maths            74
21 rajat     Maths            56
22 preyanshu Maths            67
23 simran    Maths             0
24 ravi      Maths            35
25 manish    Science          76
26 poonam    Science          67
27 rajat     Science          67
28 preyanshu Science          45
29 simran    Science           0
30 ravi      Science          67
31 manish    English          34
32 poonam    English          56
33 rajat     English          43
34 preyanshu English          34
35 simran    English           0
36 ravi      English           0

In [97]:
total_data

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312  0     0       0
6 6   ravi      34  1234543212 35    67       0

In [100]:
d = melt(total_data,id.vars = c("sid","Name","Age","Contact"),value.name = 'marks',variable.name = 'Subject')

In [101]:
d

   sid Name      Age Contact    Subject marks
1  1   manish    18  1238912985 Maths   56
2  2   poonam    21  1238998993 Maths   74
3  3   rajat     33  1823928312 Maths   56
4  4   preyanshu 18   123343212 Maths   67
5  5   simran    19  1281292312 Maths    0
6  6   ravi      34  1234543212 Maths   35
7  1   manish    18  1238912985 Science 76
8  2   poonam    21  1238998993 Science 67
9  3   rajat     33  1823928312 Science 67
10 4   preyanshu 18   123343212 Science 45
11 5   simran    19  1281292312 Science  0
12 6   ravi      34  1234543212 Science 67
13 1   manish    18  1238912985 English 34
14 2   poonam    21  1238998993 English 56
15 3   rajat     33  1823928312 English 43
16 4   preyanshu 18   123343212 English 34
17 5   simran    19  1281292312 English  0
18 6   ravi      34  1234543212 English  0

In [103]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [123]:
mt = melt(mtcars,id.vars = c("mpg","disp","cyl"),variable.name = 'propterty',
        value.name="data")

In [124]:
mt

    mpg  disp  cyl propterty data
1   21.0 160.0 6   hp        110
2   21.0 160.0 6   hp        110
3   22.8 108.0 4   hp         93
4   21.4 258.0 6   hp        110
5   18.7 360.0 8   hp        175
6   18.1 225.0 6   hp        105
7   14.3 360.0 8   hp        245
8   24.4 146.7 4   hp         62
9   22.8 140.8 4   hp         95
10  19.2 167.6 6   hp        123
11  17.8 167.6 6   hp        123
12  16.4 275.8 8   hp        180
13  17.3 275.8 8   hp        180
14  15.2 275.8 8   hp        180
15  10.4 472.0 8   hp        205
16  10.4 460.0 8   hp        215
17  14.7 440.0 8   hp        230
18  32.4  78.7 4   hp         66
19  30.4  75.7 4   hp         52
20  33.9  71.1 4   hp         65
21  21.5 120.1 4   hp         97
22  15.5 318.0 8   hp        150
23  15.2 304.0 8   hp        150
24  13.3 350.0 8   hp        245
25  19.2 400.0 8   hp        175
26  27.3  79.0 4   hp         66
27  26.0 120.3 4   hp         91
28  30.4  95.1 4   hp        113
29  15.8 351.0 8   hp        264
30  19.7 145.0 6   hp        175
... ...  ...   ... ...       ...
227 22.8 108.0 4   carb      1
228 21.4 258.0 6   carb      1
229 18.7 360.0 8   carb      2
230 18.1 225.0 6   carb      1
231 14.3 360.0 8   carb      4
232 24.4 146.7 4   carb      2
233 22.8 140.8 4   carb      2
234 19.2 167.6 6   carb      4
235 17.8 167.6 6   carb      4
236 16.4 275.8 8   carb      3
237 17.3 275.8 8   carb      3
238 15.2 275.8 8   carb      3
239 10.4 472.0 8   carb      4
240 10.4 460.0 8   carb      4
241 14.7 440.0 8   carb      4
242 32.4  78.7 4   carb      1
243 30.4  75.7 4   carb      2
244 33.9  71.1 4   carb      1
245 21.5 120.1 4   carb      1
246 15.5 318.0 8   carb      2
247 15.2 304.0 8   carb      2
248 13.3 350.0 8   carb      4
249 19.2 400.0 8   carb      2
250 27.3  79.0 4   carb      1
251 26.0 120.3 4   carb      2
252 30.4  95.1 4   carb      2
253 15.8 351.0 8   carb      4
254 19.7 145.0 6   carb      6
255 15.0 301.0 8   carb      8
256 21.4 121.0 4   carb      2

In [127]:
d1 = dcast(d,Name+Age~Subject,value.var='marks')

In [128]:
d1

  Name      Age Maths Science English
1 manish    18  56    76      34
2 poonam    21  74    67      56
3 preyanshu 18  67    45      34
4 rajat     33  56    67      43
5 ravi      34  35    67       0
6 simran    19   0     0       0

In [130]:
colnames(mt)

[1] "mpg"       "disp"      "cyl"       "propterty" "data"

In [131]:
data1 = dcast(mt,mpg+disp+cyl~propterty,value.var='data')

Aggregation function missing: defaulting to length

In [132]:
data1

   mpg  disp  cyl hp drat wt qsec vs am gear carb
1  10.4 460.0 8   1  1    1  1    1  1  1    1
2  10.4 472.0 8   1  1    1  1    1  1  1    1
3  13.3 350.0 8   1  1    1  1    1  1  1    1
4  14.3 360.0 8   1  1    1  1    1  1  1    1
5  14.7 440.0 8   1  1    1  1    1  1  1    1
6  15.0 301.0 8   1  1    1  1    1  1  1    1
7  15.2 275.8 8   1  1    1  1    1  1  1    1
8  15.2 304.0 8   1  1    1  1    1  1  1    1
9  15.5 318.0 8   1  1    1  1    1  1  1    1
10 15.8 351.0 8   1  1    1  1    1  1  1    1
11 16.4 275.8 8   1  1    1  1    1  1  1    1
12 17.3 275.8 8   1  1    1  1    1  1  1    1
13 17.8 167.6 6   1  1    1  1    1  1  1    1
14 18.1 225.0 6   1  1    1  1    1  1  1    1
15 18.7 360.0 8   1  1    1  1    1  1  1    1
16 19.2 167.6 6   1  1    1  1    1  1  1    1
17 19.2 400.0 8   1  1    1  1    1  1  1    1
18 19.7 145.0 6   1  1    1  1    1  1  1    1
19 21.0 160.0 6   2  2    2  2    2  2  2    2
20 21.4 121.0 4   1  1    1  1    1  1  1    1
21 21.4 258.0 6   1  1    1  1    1  1  1    1
22 21.5 120.1 4   1  1    1  1    1  1  1    1
23 22.8 108.0 4   1  1    1  1    1  1  1    1
24 22.8 140.8 4   1  1    1  1    1  1  1    1
25 24.4 146.7 4   1  1    1  1    1  1  1    1
26 26.0 120.3 4   1  1    1  1    1  1  1    1
27 27.3  79.0 4   1  1    1  1    1  1  1    1
28 30.4  75.7 4   1  1    1  1    1  1  1    1
29 30.4  95.1 4   1  1    1  1    1  1  1    1
30 32.4  78.7 4   1  1    1  1    1  1  1    1
31 33.9  71.1 4   1  1    1  1    1  1  1    1

In [134]:
colnames(mt) <- c('mpg','disp','cyl','variable','value')
mt

    mpg  disp  cyl variable value
1   21.0 160.0 6   hp       110
2   21.0 160.0 6   hp       110
3   22.8 108.0 4   hp        93
4   21.4 258.0 6   hp       110
5   18.7 360.0 8   hp       175
6   18.1 225.0 6   hp       105
7   14.3 360.0 8   hp       245
8   24.4 146.7 4   hp        62
9   22.8 140.8 4   hp        95
10  19.2 167.6 6   hp       123
11  17.8 167.6 6   hp       123
12  16.4 275.8 8   hp       180
13  17.3 275.8 8   hp       180
14  15.2 275.8 8   hp       180
15  10.4 472.0 8   hp       205
16  10.4 460.0 8   hp       215
17  14.7 440.0 8   hp       230
18  32.4  78.7 4   hp        66
19  30.4  75.7 4   hp        52
20  33.9  71.1 4   hp        65
21  21.5 120.1 4   hp        97
22  15.5 318.0 8   hp       150
23  15.2 304.0 8   hp       150
24  13.3 350.0 8   hp       245
25  19.2 400.0 8   hp       175
26  27.3  79.0 4   hp        66
27  26.0 120.3 4   hp        91
28  30.4  95.1 4   hp       113
29  15.8 351.0 8   hp       264
30  19.7 145.0 6   hp       175
... ...  ...   ... ...      ...
227 22.8 108.0 4   carb     1
228 21.4 258.0 6   carb     1
229 18.7 360.0 8   carb     2
230 18.1 225.0 6   carb     1
231 14.3 360.0 8   carb     4
232 24.4 146.7 4   carb     2
233 22.8 140.8 4   carb     2
234 19.2 167.6 6   carb     4
235 17.8 167.6 6   carb     4
236 16.4 275.8 8   carb     3
237 17.3 275.8 8   carb     3
238 15.2 275.8 8   carb     3
239 10.4 472.0 8   carb     4
240 10.4 460.0 8   carb     4
241 14.7 440.0 8   carb     4
242 32.4  78.7 4   carb     1
243 30.4  75.7 4   carb     2
244 33.9  71.1 4   carb     1
245 21.5 120.1 4   carb     1
246 15.5 318.0 8   carb     2
247 15.2 304.0 8   carb     2
248 13.3 350.0 8   carb     4
249 19.2 400.0 8   carb     2
250 27.3  79.0 4   carb     1
251 26.0 120.3 4   carb     2
252 30.4  95.1 4   carb     2
253 15.8 351.0 8   carb     4
254 19.7 145.0 6   carb     6
255 15.0 301.0 8   carb     8
256 21.4 121.0 4   carb     2

In [135]:
colnames(mt)

[1] "mpg"      "disp"     "cyl"      "variable" "value"

In [138]:
dcast(mt,mpg+disp+cyl~variable)

Aggregation function missing: defaulting to length

   mpg  disp  cyl hp drat wt qsec vs am gear carb
1  10.4 460.0 8   1  1    1  1    1  1  1    1
2  10.4 472.0 8   1  1    1  1    1  1  1    1
3  13.3 350.0 8   1  1    1  1    1  1  1    1
4  14.3 360.0 8   1  1    1  1    1  1  1    1
5  14.7 440.0 8   1  1    1  1    1  1  1    1
6  15.0 301.0 8   1  1    1  1    1  1  1    1
7  15.2 275.8 8   1  1    1  1    1  1  1    1
8  15.2 304.0 8   1  1    1  1    1  1  1    1
9  15.5 318.0 8   1  1    1  1    1  1  1    1
10 15.8 351.0 8   1  1    1  1    1  1  1    1
11 16.4 275.8 8   1  1    1  1    1  1  1    1
12 17.3 275.8 8   1  1    1  1    1  1  1    1
13 17.8 167.6 6   1  1    1  1    1  1  1    1
14 18.1 225.0 6   1  1    1  1    1  1  1    1
15 18.7 360.0 8   1  1    1  1    1  1  1    1
16 19.2 167.6 6   1  1    1  1    1  1  1    1
17 19.2 400.0 8   1  1    1  1    1  1  1    1
18 19.7 145.0 6   1  1    1  1    1  1  1    1
19 21.0 160.0 6   2  2    2  2    2  2  2    2
20 21.4 121.0 4   1  1    1  1    1  1  1    1
21 21.4 258.0 6   1  1    1  1    1  1  1    1
22 21.5 120.1 4   1  1    1  1    1  1  1    1
23 22.8 108.0 4   1  1    1  1    1  1  1    1
24 22.8 140.8 4   1  1    1  1    1  1  1    1
25 24.4 146.7 4   1  1    1  1    1  1  1    1
26 26.0 120.3 4   1  1    1  1    1  1  1    1
27 27.3  79.0 4   1  1    1  1    1  1  1    1
28 30.4  75.7 4   1  1    1  1    1  1  1    1
29 30.4  95.1 4   1  1    1  1    1  1  1    1
30 32.4  78.7 4   1  1    1  1    1  1  1    1
31 33.9  71.1 4   1  1    1  1    1  1  1    1

In [143]:
mt[is.na(mt),]

     mpg disp cyl variable value

In [144]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [145]:
colnames(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [148]:
x = melt(mtcars,id.vars = c('mpg','cyl','disp'),na.rm = T)

In [150]:
x

    mpg  cyl disp  variable value
1   21.0 6   160.0 hp       110
2   21.0 6   160.0 hp       110
3   22.8 4   108.0 hp        93
4   21.4 6   258.0 hp       110
5   18.7 8   360.0 hp       175
6   18.1 6   225.0 hp       105
7   14.3 8   360.0 hp       245
8   24.4 4   146.7 hp        62
9   22.8 4   140.8 hp        95
10  19.2 6   167.6 hp       123
11  17.8 6   167.6 hp       123
12  16.4 8   275.8 hp       180
13  17.3 8   275.8 hp       180
14  15.2 8   275.8 hp       180
15  10.4 8   472.0 hp       205
16  10.4 8   460.0 hp       215
17  14.7 8   440.0 hp       230
18  32.4 4    78.7 hp        66
19  30.4 4    75.7 hp        52
20  33.9 4    71.1 hp        65
21  21.5 4   120.1 hp        97
22  15.5 8   318.0 hp       150
23  15.2 8   304.0 hp       150
24  13.3 8   350.0 hp       245
25  19.2 8   400.0 hp       175
26  27.3 4    79.0 hp        66
27  26.0 4   120.3 hp        91
28  30.4 4    95.1 hp       113
29  15.8 8   351.0 hp       264
30  19.7 6   145.0 hp       175
... ...  ... ...   ...      ...
227 22.8 4   108.0 carb     1
228 21.4 6   258.0 carb     1
229 18.7 8   360.0 carb     2
230 18.1 6   225.0 carb     1
231 14.3 8   360.0 carb     4
232 24.4 4   146.7 carb     2
233 22.8 4   140.8 carb     2
234 19.2 6   167.6 carb     4
235 17.8 6   167.6 carb     4
236 16.4 8   275.8 carb     3
237 17.3 8   275.8 carb     3
238 15.2 8   275.8 carb     3
239 10.4 8   472.0 carb     4
240 10.4 8   460.0 carb     4
241 14.7 8   440.0 carb     4
242 32.4 4    78.7 carb     1
243 30.4 4    75.7 carb     2
244 33.9 4    71.1 carb     1
245 21.5 4   120.1 carb     1
246 15.5 8   318.0 carb     2
247 15.2 8   304.0 carb     2
248 13.3 8   350.0 carb     4
249 19.2 8   400.0 carb     2
250 27.3 4    79.0 carb     1
251 26.0 4   120.3 carb     2
252 30.4 4    95.1 carb     2
253 15.8 8   351.0 carb     4
254 19.7 6   145.0 carb     6
255 15.0 8   301.0 carb     8
256 21.4 4   121.0 carb     2

In [152]:
colnames(x)

[1] "mpg"      "cyl"      "disp"     "variable" "value"

In [154]:
dcast(x,mpg+cyl+disp~variable,value.var='value')

Aggregation function missing: defaulting to length

   mpg  cyl disp  hp drat wt qsec vs am gear carb
1  10.4 8   460.0 1  1    1  1    1  1  1    1
2  10.4 8   472.0 1  1    1  1    1  1  1    1
3  13.3 8   350.0 1  1    1  1    1  1  1    1
4  14.3 8   360.0 1  1    1  1    1  1  1    1
5  14.7 8   440.0 1  1    1  1    1  1  1    1
6  15.0 8   301.0 1  1    1  1    1  1  1    1
7  15.2 8   275.8 1  1    1  1    1  1  1    1
8  15.2 8   304.0 1  1    1  1    1  1  1    1
9  15.5 8   318.0 1  1    1  1    1  1  1    1
10 15.8 8   351.0 1  1    1  1    1  1  1    1
11 16.4 8   275.8 1  1    1  1    1  1  1    1
12 17.3 8   275.8 1  1    1  1    1  1  1    1
13 17.8 6   167.6 1  1    1  1    1  1  1    1
14 18.1 6   225.0 1  1    1  1    1  1  1    1
15 18.7 8   360.0 1  1    1  1    1  1  1    1
16 19.2 6   167.6 1  1    1  1    1  1  1    1
17 19.2 8   400.0 1  1    1  1    1  1  1    1
18 19.7 6   145.0 1  1    1  1    1  1  1    1
19 21.0 6   160.0 2  2    2  2    2  2  2    2
20 21.4 4   121.0 1  1    1  1    1  1  1    1
21 21.4 6   258.0 1  1    1  1    1  1  1    1
22 21.5 4   120.1 1  1    1  1    1  1  1    1
23 22.8 4   108.0 1  1    1  1    1  1  1    1
24 22.8 4   140.8 1  1    1  1    1  1  1    1
25 24.4 4   146.7 1  1    1  1    1  1  1    1
26 26.0 4   120.3 1  1    1  1    1  1  1    1
27 27.3 4    79.0 1  1    1  1    1  1  1    1
28 30.4 4    75.7 1  1    1  1    1  1  1    1
29 30.4 4    95.1 1  1    1  1    1  1  1    1
30 32.4 4    78.7 1  1    1  1    1  1  1    1
31 33.9 4    71.1 1  1    1  1    1  1  1    1

In [155]:
install.packages('tidyr')

Installing package into 'C:/Users/Sachin/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'tidyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Sachin\AppData\Local\Temp\RtmpYnEfvX\downloaded_packages

In [156]:
library(tidyr)

Warning message:
"package 'tidyr' was built under R version 3.5.2"
Attaching package: 'tidyr'

The following object is masked from 'package:reshape2':

    smiths

In [157]:
total_data

  sid Name      Age Contact    Maths Science English
1 1   manish    18  1238912985 56    76      34
2 2   poonam    21  1238998993 74    67      56
3 3   rajat     33  1823928312 56    67      43
4 4   preyanshu 18   123343212 67    45      34
5 5   simran    19  1281292312  0     0       0
6 6   ravi      34  1234543212 35    67       0

In [159]:
data = gather(total_data,"Subject","Marks",5:7)

In [160]:
data

   sid Name      Age Contact    Subject Marks
1  1   manish    18  1238912985 Maths   56
2  2   poonam    21  1238998993 Maths   74
3  3   rajat     33  1823928312 Maths   56
4  4   preyanshu 18   123343212 Maths   67
5  5   simran    19  1281292312 Maths    0
6  6   ravi      34  1234543212 Maths   35
7  1   manish    18  1238912985 Science 76
8  2   poonam    21  1238998993 Science 67
9  3   rajat     33  1823928312 Science 67
10 4   preyanshu 18   123343212 Science 45
11 5   simran    19  1281292312 Science  0
12 6   ravi      34  1234543212 Science 67
13 1   manish    18  1238912985 English 34
14 2   poonam    21  1238998993 English 56
15 3   rajat     33  1823928312 English 43
16 4   preyanshu 18   123343212 English 34
17 5   simran    19  1281292312 English  0
18 6   ravi      34  1234543212 English  0

In [161]:
colnames(data)

[1] "sid"     "Name"    "Age"     "Contact" "Subject" "Marks"

In [162]:
spread(data,Subject,Marks)

  sid Name      Age Contact    English Maths Science
1 1   manish    18  1238912985 34      56    76
2 2   poonam    21  1238998993 56      74    67
3 3   rajat     33  1823928312 43      56    67
4 4   preyanshu 18   123343212 34      67    45
5 5   simran    19  1281292312  0       0     0
6 6   ravi      34  1234543212  0      35    67

In [163]:
data1 = gather(total_data,"Subject","Marks",5:7) #for long format
data2 = spread(data,Subject,Marks) #for wide format

In [164]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [165]:
colnames(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [166]:
data <- gather(mtcars,"Variable","Value",c(2,3,5,6,7,8,9,11))

In [167]:
data

    mpg  hp  gear Variable Value
1   21.0 110 4    cyl      6
2   21.0 110 4    cyl      6
3   22.8  93 4    cyl      4
4   21.4 110 3    cyl      6
5   18.7 175 3    cyl      8
6   18.1 105 3    cyl      6
7   14.3 245 3    cyl      8
8   24.4  62 4    cyl      4
9   22.8  95 4    cyl      4
10  19.2 123 4    cyl      6
11  17.8 123 4    cyl      6
12  16.4 180 3    cyl      8
13  17.3 180 3    cyl      8
14  15.2 180 3    cyl      8
15  10.4 205 3    cyl      8
16  10.4 215 3    cyl      8
17  14.7 230 3    cyl      8
18  32.4  66 4    cyl      4
19  30.4  52 4    cyl      4
20  33.9  65 4    cyl      4
21  21.5  97 3    cyl      4
22  15.5 150 3    cyl      8
23  15.2 150 3    cyl      8
24  13.3 245 3    cyl      8
25  19.2 175 3    cyl      8
26  27.3  66 4    cyl      4
27  26.0  91 5    cyl      4
28  30.4 113 5    cyl      4
29  15.8 264 5    cyl      8
30  19.7 175 5    cyl      6
... ...  ... ...  ...      ...
227 22.8  93 4    carb     1
228 21.4 110 3    carb     1
229 18.7 175 3    carb     2
230 18.1 105 3    carb     1
231 14.3 245 3    carb     4
232 24.4  62 4    carb     2
233 22.8  95 4    carb     2
234 19.2 123 4    carb     4
235 17.8 123 4    carb     4
236 16.4 180 3    carb     3
237 17.3 180 3    carb     3
238 15.2 180 3    carb     3
239 10.4 205 3    carb     4
240 10.4 215 3    carb     4
241 14.7 230 3    carb     4
242 32.4  66 4    carb     1
243 30.4  52 4    carb     2
244 33.9  65 4    carb     1
245 21.5  97 3    carb     1
246 15.5 150 3    carb     2
247 15.2 150 3    carb     2
248 13.3 245 3    carb     4
249 19.2 175 3    carb     2
250 27.3  66 4    carb     1
251 26.0  91 5    carb     2
252 30.4 113 5    carb     2
253 15.8 264 5    carb     4
254 19.7 175 5    carb     6
255 15.0 335 5    carb     8
256 21.4 109 4    carb     2

In [169]:
spread(data,Variable,Value)

ERROR: Error: Duplicate identifiers for rows (193, 194), (225, 226), (1, 2), (33, 34), (65, 66), (129, 130), (161, 162), (97, 98)

In [170]:
mpg

    manufacturer model              displ year cyl trans      drv cty hwy fl
1   audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2   audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3   audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4   audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5   audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6   audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7   audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8   audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9   audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10  audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11  audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12  audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13  audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14  audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15  audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16  audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17  audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18  audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
21  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
22  chevrolet    c1500 suburban 2wd 5.7   1999 8   auto(l4)   r   13  17  r
23  chevrolet    c1500 suburban 2wd 6.0   2008 8   auto(l4)   r   12  17  r
24  chevrolet    corvette           5.7   1999 8   manual(m6) r   16  26  p
25  chevrolet    corvette           5.7   1999 8   auto(l4)   r   15  23  p
26  chevrolet    corvette           6.2   2008 8   manual(m6) r   16  26  p
27  chevrolet    corvette           6.2   2008 8   auto(s6)   r   15  25  p
28  chevrolet    corvette           7.0   2008 8   manual(m6) r   15  24  p
29  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   14  19  r
30  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   11  14  e
... ...          ...                ...   ...  ... ...        ... ... ... ...
205 toyota       toyota tacoma 4wd  3.4   1999 6   auto(l4)   4   15  19  r
206 toyota       toyota tacoma 4wd  4.0   2008 6   manual(m6) 4   15  18  r
207 toyota       toyota tacoma 4wd  4.0   2008 6   auto(l5)   4   16  20  r
208 volkswagen   gti                2.0   1999 4   manual(m5) f   21  29  r
209 volkswagen   gti                2.0   1999 4   auto(l4)   f   19  26  r
210 volkswagen   gti                2.0   2008 4   manual(m6) f   21  29  p
211 volkswagen   gti                2.0   2008 4   auto(s6)   f   22  29  p
212 volkswagen   gti                2.8   1999 6   manual(m5) f   17  24  r
213 volkswagen   jetta              1.9   1999 4   manual(m5) f   33  44  d
214 volkswagen   jetta              2.0   1999 4   manual(m5) f   21  29  r
215 volkswagen   jetta              2.0   1999 4   auto(l4)   f   19  26  r
216 volkswagen   jetta              2.0   2008 4   auto(s6)   f   22  29  p
217 volkswagen   jetta              2.0   2008 4   manual(m6) f   21  29  p
218 volkswagen   jetta              2.5   2008 5   auto(s6)   f   21  29  r
219 volkswagen   jetta              2.5   2008 5   manual(m5) f   21  29  r
220 volkswagen   jetta              2.8   1999 6   auto(l4)   f   16  23  r
221 volkswagen   jetta              2.8   1999 6   manual(m5) f   17  24  r
222 volkswagen   new beetle         1.9   1999 4   manual(m5) f   35  44  d
223 volkswagen   new beetle         1.9   1999 4   auto(l4)   f   29  41  d
224 volkswagen   new beetle         2.0   1999 4   manual(m5) f   21  29  r
225 volkswagen   new beetle         2.0   1999 4   auto(l4)   f   19  26  r
226 volkswagen   new beetle         2.5   2008 5   manual(m5) f   20  28  r
227 volkswagen   new beetle         2.5   2008 5   auto(s6)   f   20  29  r
228 volkswagen   passat             1.8   1999 4   manual(m5) f   21  29  p
229 volkswagen   passat             1.8   1999 4   auto(l5)   f   18  29  p
230 volkswagen   passat             2.0   2008 4   auto(s6)   f   19  28  p
231 volkswagen   passat             2.0   2008 4   manual(m6) f   21  29  p
232 volkswagen   passat             2.8   1999 6   auto(l5)   f   16  26  p
233 volkswagen   passat             2.8   1999 6   manual(m5) f   18  26  p
234 volkswagen   passat             3.6   2008 6   auto(s6)   f   17  26  p
    class
1   compact
2   compact
3   compact
4   compact
5   compact
6   compact
7   compact
8   compact
9   compact
10  compact
11  compact
12  compact
13  compact
14  compact
15  compact
16  midsize
17  midsize
18  midsize
19  suv
20  suv
21  suv
22  suv
23  suv
24  2seater
25  2seater
26  2seater
27  2seater
28  2seater
29  suv
30  suv
... ...
205 pickup
206 pickup
207 pickup
208 compact
209 compact
210 compact
211 compact
212 compact
213 compact
214 compact
215 compact
216 compact
217 compact
218 compact
219 compact
220 compact
221 compact
222 subcompact
223 subcompact
224 subcompact
225 subcompact
226 subcompact
227 subcompact
228 midsize
229 midsize
230 midsize
231 midsize
232 midsize
233 midsize
234 midsize

In [171]:
colnames(mpg)

 [1] "manufacturer" "model"        "displ"        "year"         "cyl"
 [6] "trans"        "drv"          "cty"          "hwy"          "fl"
[11] "class"

In [172]:
d = gather(mpg,"variable","value",c(4,5,6,7,10,11))

In [173]:
d

     manufacturer model              displ cty hwy variable value
1    audi         a4                 1.8   18  29  year     1999
2    audi         a4                 1.8   21  29  year     1999
3    audi         a4                 2.0   20  31  year     2008
4    audi         a4                 2.0   21  30  year     2008
5    audi         a4                 2.8   16  26  year     1999
6    audi         a4                 2.8   18  26  year     1999
7    audi         a4                 3.1   18  27  year     2008
8    audi         a4 quattro         1.8   18  26  year     1999
9    audi         a4 quattro         1.8   16  25  year     1999
10   audi         a4 quattro         2.0   20  28  year     2008
11   audi         a4 quattro         2.0   19  27  year     2008
12   audi         a4 quattro         2.8   15  25  year     1999
13   audi         a4 quattro         2.8   17  25  year     1999
14   audi         a4 quattro         3.1   17  25  year     2008
15   audi         a4 quattro         3.1   15  25  year     2008
16   audi         a6 quattro         2.8   15  24  year     1999
17   audi         a6 quattro         3.1   17  25  year     2008
18   audi         a6 quattro         4.2   16  23  year     2008
19   chevrolet    c1500 suburban 2wd 5.3   14  20  year     2008
20   chevrolet    c1500 suburban 2wd 5.3   11  15  year     2008
21   chevrolet    c1500 suburban 2wd 5.3   14  20  year     2008
22   chevrolet    c1500 suburban 2wd 5.7   13  17  year     1999
23   chevrolet    c1500 suburban 2wd 6.0   12  17  year     2008
24   chevrolet    corvette           5.7   16  26  year     1999
25   chevrolet    corvette           5.7   15  23  year     1999
26   chevrolet    corvette           6.2   16  26  year     2008
27   chevrolet    corvette           6.2   15  25  year     2008
28   chevrolet    corvette           7.0   15  24  year     2008
29   chevrolet    k1500 tahoe 4wd    5.3   14  19  year     2008
30   chevrolet    k1500 tahoe 4wd    5.3   11  14  year     2008
...  ...          ...                ...   ... ... ...      ...
1375 toyota       toyota tacoma 4wd  3.4   15  19  class    pickup
1376 toyota       toyota tacoma 4wd  4.0   15  18  class    pickup
1377 toyota       toyota tacoma 4wd  4.0   16  20  class    pickup
1378 volkswagen   gti                2.0   21  29  class    compact
1379 volkswagen   gti                2.0   19  26  class    compact
1380 volkswagen   gti                2.0   21  29  class    compact
1381 volkswagen   gti                2.0   22  29  class    compact
1382 volkswagen   gti                2.8   17  24  class    compact
1383 volkswagen   jetta              1.9   33  44  class    compact
1384 volkswagen   jetta              2.0   21  29  class    compact
1385 volkswagen   jetta              2.0   19  26  class    compact
1386 volkswagen   jetta              2.0   22  29  class    compact
1387 volkswagen   jetta              2.0   21  29  class    compact
1388 volkswagen   jetta              2.5   21  29  class    compact
1389 volkswagen   jetta              2.5   21  29  class    compact
1390 volkswagen   jetta              2.8   16  23  class    compact
1391 volkswagen   jetta              2.8   17  24  class    compact
1392 volkswagen   new beetle         1.9   35  44  class    subcompact
1393 volkswagen   new beetle         1.9   29  41  class    subcompact
1394 volkswagen   new beetle         2.0   21  29  class    subcompact
1395 volkswagen   new beetle         2.0   19  26  class    subcompact
1396 volkswagen   new beetle         2.5   20  28  class    subcompact
1397 volkswagen   new beetle         2.5   20  29  class    subcompact
1398 volkswagen   passat             1.8   21  29  class    midsize
1399 volkswagen   passat             1.8   18  29  class    midsize
1400 volkswagen   passat             2.0   19  28  class    midsize
1401 volkswagen   passat             2.0   21  29  class    midsize
1402 volkswagen   passat             2.8   16  26  class    midsize
1403 volkswagen   passat             2.8   18  26  class    midsize
1404 volkswagen   passat             3.6   17  26  class    midsize

In [180]:
spread(d,'variable','value')

ERROR: Error: Duplicate identifiers for rows (1189, 1191), (1210, 1211), (1212, 1213), (1223, 1224), (1229, 1231), (1236, 1240), (1235, 1239), (1237, 1238), (1248, 1250), (1254, 1255), (1256, 1257), (1266, 1268), (1271, 1274), (1283, 1284), (1290, 1292), (1338, 1339), (1341, 1343), (1352, 1353), (1354, 1355), (1361, 1362), (1366, 1368), (1378, 1380), (1384, 1387), (1388, 1389), (253, 255), (274, 275), (276, 277), (287, 288), (293, 295), (300, 304), (299, 303), (301, 302), (312, 314), (318, 319), (320, 321), (330, 332), (335, 338), (347, 348), (354, 356), (402, 403), (405, 407), (416, 417), (418, 419), (425, 426), (430, 432), (442, 444), (448, 451), (452, 453), (721, 723), (742, 743), (744, 745), (755, 756), (761, 763), (768, 772), (767, 771), (769, 770), (780, 782), (786, 787), (788, 789), (798, 800), (803, 806), (815, 816), (822, 824), (870, 871), (873, 875), (884, 885), (886, 887), (893, 894), (898, 900), (910, 912), (916, 919), (920, 921), (955, 957), (976, 977), (978, 979), (989, 990), (995, 997), (1002, 1006), (1001, 1005), (1003, 1004), (1014, 1016), (1020, 1021), (1022, 1023), (1032, 1034), (1037, 1040), (1049, 1050), (1056, 1058), (1104, 1105), (1107, 1109), (1118, 1119), (1120, 1121), (1127, 1128), (1132, 1134), (1144, 1146), (1150, 1153), (1154, 1155), (487, 489), (508, 509), (510, 511), (521, 522), (527, 529), (534, 538), (533, 537), (535, 536), (546, 548), (552, 553), (554, 555), (564, 566), (569, 572), (581, 582), (588, 590), (636, 637), (639, 641), (650, 651), (652, 653), (659, 660), (664, 666), (676, 678), (682, 685), (686, 687), (19, 21), (40, 41), (42, 43), (53, 54), (59, 61), (66, 70), (65, 69), (67, 68), (78, 80), (84, 85), (86, 87), (96, 98), (101, 104), (113, 114), (120, 122), (168, 169), (171, 173), (182, 183), (184, 185), (191, 192), (196, 198), (208, 210), (214, 217), (218, 219)

In [181]:
getwd()

[1] "C:/Users/Sachin/Desktop/Winter_INTERN_BATCH_2018/DataScience/R"

In [182]:
setwd("Day3/Theory")

In [183]:
getwd()

[1] "C:/Users/Sachin/Desktop/Winter_INTERN_BATCH_2018/DataScience/R/Day3/Theory"

In [184]:
ls()

 [1] "age"        "cricket"    "d"          "d1"         "data"
 [6] "data1"      "data2"      "df"         "df1"        "df2"
[11] "df3"        "football"   "m"          "mt"         "s_data"
[16] "s_marks"    "t_data"     "tdf"        "total_data" "x"

In [195]:
data = read.csv('storms.txt',sep='\t',header = T)

In [196]:
data

  storm   wind pressure date
1 Alberto 110  1007     2000-08-03
2 Alex     45  1009     1998-07-27
3 Allison  65  1005     1995-06-03
4 Ana      40  1013     1997-06-30
5 Arlene   50  1010     1999-06-11
6 Arthur   45  1010     1996-06-17

In [204]:
d = separate(data,date,c("year","month","day"),sep='-')

ERROR: Error in readRDS(pfile): unknown input format

In [197]:
colnames(data)

[1] "storm"    "wind"     "pressure" "date"

In [205]:
data = read.csv('storms2.txt',sep='\t')

In [206]:
data

  storms  wind pressure year month day
1 Alberto 110  1007     2000 8      3
2 Alex     45  1009     1998 7     27
3 Allison  65  1005     1995 6      3
4 Ana      40  1013     1997 6     30
5 Arlene   50  1010     1999 6     11
6 Arthur   45  1010     1996 6     17

In [209]:
d2 = unite(data,year,c(year,month,day),sep='/')

In [210]:
d2

  storms  wind pressure year
1 Alberto 110  1007     2000/8/3
2 Alex     45  1009     1998/7/27
3 Allison  65  1005     1995/6/3
4 Ana      40  1013     1997/6/30
5 Arlene   50  1010     1999/6/11
6 Arthur   45  1010     1996/6/17

In [213]:
separate(d2,year,c('Y','M','D'),sep='/')

ERROR: Error in readRDS(pfile): unknown input format